@model IEnumerable<IndyBeerNavigator.Data.Entities.Beer>

@{
    ViewBag.Title = "BeerList";
}

<h2>This Brewery's Beers</h2>

@foreach (var item in Model)
{
<div>
    <hr />
    @item.Name
    &emsp;
    &emsp;
    @item.Style
    <hr />
</div>
}

<p>
    @Html.ActionLink("Add a Beer", "Create", "Beer")
</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
