
@{
    ViewBag.Title = "BindWithViewBag";
}

<h2>BindWithViewBag</h2>

@using (Html.BeginForm("CategoryChosen", "Home",
                FormMethod.Get))
{

    <fieldset>

        Category Type :

        @Html.DropDownList("CategoryType")

    </fieldset>

}

