@{
    ViewBag.Title = "Home Page";
}

    


        <div class="jumbotron" style="        background-image: url('https://images.unsplash.com/photo-1570039486851-9caa462a2cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80');
        object-fit: cover">
            >
            <h1 color="white">Welcome to the IndyBeerNavigator!</h1>
            <p class="lead">IndyBeerNavigator is a tool to help you find information and write reviews about the breweries in Indianapolis.</p>
            <p><a href="blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        
            <div class="row">
                <div class="col-md-4">
                    <h2>Breweries</h2>
                    <p>
                        Explore the many breweries our great city has to offer.
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Beers</h2>
                    <p>Check out the many different delicious beers you can taste.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Sales</h2>
                    <p>Find daily and weekly beer sales around the city for the thrifty connoisseur.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>